@page "{id:int?}"
@model bujarademi.web.Pages.Admin.CategoriesModel
@{
    ViewData["Title"] = "Categories";
    ViewData["ActivePage"] = "Categories";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

@section Styles {
    <style>
        .trumbowyg-box, .trumbowyg-editor {
            min-height: 100px;
        }
    </style>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(function () {
            registerEditEvent();
        });

        function registerEditEvent() {
            $('.remove').off('click').on('click', function (e) {
                e.preventDefault();
                var catId = $(this).data('id');
                bootbox.confirm({
                    message: "Are you sure you want to delete this category?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                        },
                        cancel: {
                            label: 'No'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.LoadingOverlay('show');
                            $.ajax({
                                url: '/Admin/Categories?handler=Category&categoryId=' + catId,
                                type: 'delete',
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                headers: {
                                    "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                                },
                                success: function (response) {
                                    $.LoadingOverlay("hide");
                                    $('#category-' + catId).slideUp(500);
                                    setTimeout(function () {
                                        $('#category-' + catId).remove();
                                    }, 1000);
                                },
                                error: function (errorData) {
                                    console.log(errorData);
                                    $.LoadingOverlay("hide");
                                    bootbox.alert({
                                        message: "Error deleting experience",
                                        className: 'rubberBand animated'
                                    });
                                }
                            });
                        }
                    }
                });
            });

        }


    </script>
}
<article class="content items-list-page">
    <div class="row">
        <div class="col-md-7">
            <div class="title-search-block">
                <div class="title-block">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="title">
                                Categories <a href="#" class="btn btn-primary btn-sm rounded-s" id="new-category"> Add New </a>

                            </h3>
                            <p class="title-description"> List of categories </p>
                        </div>
                    </div>
                </div>
                <div class="items-search">

                </div>
            </div>
            <div class="card items">
                <ul class="item-list striped">
                    <li class="item item-list-header">
                        <div class="item-row">

                            <div class="item-col item-col-header item-col-title">
                                <div>
                                    <span>Category Name</span>
                                </div>
                            </div>
                            <div class="item-col item-col-header item-col-title">
                                <div>
                                    <span>Slug</span>
                                </div>
                            </div>

                            <div class="item-col item-col-header fixed item-col-actions-dropdown">
                            </div>
                        </div>
                    </li>
                    @foreach (var category in Model.Categories)
                    {
                        <li class="item" id="category-@category.Id">
                            <div class="item-row">

                                <div class="item-col fixed pull-left item-col-title">
                                    <div class="item-heading">Category name</div>
                                    <div>
                                        <h4 class="item-title"> @Html.Raw(category.Name) </h4>
                                    </div>
                                </div>
                                <div class="item-col fixed pull-left item-col-title">
                                    <div class="item-heading">Slug</div>
                                    <div>
                                        <h4 class="item-title"> @Html.Raw(category.Slug) </h4>
                                    </div>
                                </div>

                                <div class="item-col fixed item-col-actions-dropdown">
                                    <div class="item-actions-dropdown">
                                        <a class="item-actions-toggle-btn">
                                            <span class="inactive">
                                                <i class="fa fa-cog"></i>
                                            </span>
                                            <span class="active">
                                                <i class="fa fa-chevron-circle-right"></i>
                                            </span>
                                        </a>
                                        <div class="item-actions-block">
                                            <ul class="item-actions-list">
                                                <li>
                                                    <a class="remove" href="#" data-id="@category.Id">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="edit" href="/Admin/Categories/@category.Id" data-id="@category.Id">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card card-block">
                <div class="title-block">
                    <h3 class="title"> Add/Edit category </h3>
                </div>
                <form role="form" id="form-category" asp-page="/Admin/Categories">
                    @Html.AntiForgeryToken()
                    <input asp-for="Category.Id" type="hidden" />
                    <div class="form-group has-success">
                        <label class="control-label" asp-for="Category.Name">Category Name</label>
                        <input type="text" asp-for="Category.Name" class="form-control underlined" placeholder="Category name" required>
                        <span asp-validation-for="Category.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group has-warning">
                        <label class="control-label" asp-for="Category.Slug">Category slug</label>
                        <input type="text" asp-for="Category.Slug" class="form-control underlined" placeholder="Category slug" required>
                        <span asp-validation-for="Category.Slug" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" id="btnSaveCategory">Save</button>
                        <div class="infoMessage">

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</article>
