@model bujarademi.infrastructure.Models.ProfileDto
<div class="section-container">

    <div class="page-heading">
        <span class="icon"><i class="lnr lnr-envelope"></i></span>
        <h2>Contact Me.</h2>
    </div>

    <div class="row mb-70">
        <div class="col-lg-8  offset-lg-2">
            <div class="subheading">
                <h3>Let's Talk</h3>
            </div>

            <form id="contact-form" method="post" action="mail.php">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-6 mb-50">
                        <span class="input">
                            <input class="input__field cf-validate" type="text" id="cf-name" name="name" />
                            <label class="input__label" for="cf-name">Name</label>
                        </span>
                    </div>

                    <div class="col-md-6 mb-50">
                        <span class="input">
                            <input class="input__field cf-validate" type="text" id="cf-email" name="email" />
                            <label class="input__label" for="cf-email">Email</label>
                        </span>
                    </div>

                    <div class="col-md-12 mb-30">
                        <span class="input">
                            <textarea class="input__field cf-validate" id="cf-message" name="message" rows="5"></textarea>
                            <label class="input__label" for="cf-message">How can I help you?</label>
                        </span>
                    </div>

                    <div class="alert-container col-md-12"></div>

                    <div class="col-md-12 text-center">
                        <button id="cf-submit" class="btn-main">Send Message</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="row contact-info mb-70">
        <div class="col-md-4 info-item">
            <span class="icon"><i class="fas fa-paper-plane"></i></span>
            <h5><a href="mailto:@Model.EmailAddress">@Model.EmailAddress</a></h5>
        </div>

        <div class="col-md-4 info-item">
            <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
            <h5>@Model.City, @Model.Country</h5>
        </div>

        <div class="col-md-4 info-item">
            <span class="icon"><i class="fas fa-phone"></i></span>
            <h5>@Model.PhoneNumber</h5>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        /*======== Contact Form Setup ========*/
        $('.input__field').each(function () {
            if ($(this).val()) {
                $(this).parent('.input').addClass('input--filled');
            } else {
                $(this).parent('.input').removeClass('input--filled');
            }
        });

        /*======== Check Field Have Value When Keyup ========*/
        $('.input__field').on('keyup', function () {
            if ($(this).val()) {
                $(this).parent('.input').addClass('input--filled');
            } else {
                $(this).parent('.input').removeClass('input--filled');
            }
        });


        $('#contact-form').on('submit', function (e) {
            e.preventDefault();

            var name = $('#cf-name').val(),
                email = $('#cf-email').val(),
                message = $('#cf-message').val(),
                $messageBox = $('#contact-form .message'),
                required = 0;


            $('.cf-validate', this).each(function () {
                if ($(this).val() == '') {
                    $(this).addClass('cf-error');
                    required += 1;
                } else {
                    if ($(this).hasClass('cf-error')) {
                        $(this).removeClass('cf-error');
                        if (required > 0) {
                            required -= 1;
                        }
                    }
                }
            });
            if (required === 0) {
                $.ajax({
                    type: 'POST',
                    url: '/Index?handler=SendEmail',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    // AntiforgeryToken is required by RazorPages
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    data: JSON.stringify({
                        name: name,
                        email: email,
                        message: message
                    }),
                    success: function (data) {
                        $("#contact-form .input__field").val("");
                        showAlertBox(data.status, data.responseText);
                    },
                    error: function (data) {
                        showAlertBox(data.status, data.responseText);
                    }
                });
            }
        });
    });


    /********** Function Show Alert Box **********/
    function showAlertBox(response, message) {
        var $alertBox = $('<div class="alert"></div>'),
            $alContainer = $('#contact-form .alert-container');
        if (response === 200) {
            $alertBox.addClass('alert-success').html(message);
            $alContainer.html($alertBox);
        } else {
            $alertBox.addClass('alert-danger').html(message);
            $alContainer.html($alertBox);
        }
        $alContainer.fadeIn(300).delay(2000).fadeOut(400);
    }
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47226578-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-47226578-1', { 'page_path': location.pathname + location.hash, 'page_title': 'contact' });
</script>
